<div class="container">
  <div class="row justify-content-end mt-5">
    <div class="col-xl-6">
      <div class="pr-forgot-password__container">
        <h3>Reset Password</h3>
        <p class="text-left">Please enter your email address to request a password reset.</p>
        <form>
          <div class="form-group">
            <input type="email" class="form-control" id="login-email" aria-describedby="emailHelp"
              placeholder="Enter email"  #email required>
          </div>
          <div class="text-center">
            <input type="button" class="btn btn-primary" value="Reset Password" (click)="authService.ForgotPassword(email.value)">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>