<div class="pr-header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0">
      <a class="navbar-brand" href="#"><i class="fas fa-camera mx-2"></i>PhotoRama</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse pr-header__nav" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a routerLink="/" class="nav-item nav-link active" >
            Home
          </a>
          <a *ngIf="!isLoggedIn" routerLink="/login" class="nav-item nav-link active" >
            Login
          </a>
          <a *ngIf="!isLoggedIn" routerLink="/register" class="nav-item nav-link active" >
            Register
          </a>
          <a *ngIf="isLoggedIn" routerLink="/profile" class="nav-item nav-link active" >
            Profile
          </a>
          <a *ngIf="isLoggedIn" routerLink="/discover" class="nav-item nav-link active" >
            <i class="fab fa-envira"></i>
            New
          </a>
          <a *ngIf="isLoggedIn" routerLink="/community" class="nav-item nav-link active" >
            <i class="fas fa-comments"></i>
            Community
          </a>
        </div>
      </div>
    </nav>
  </div>
</div>