
<div class="pr-home__photo-container">
  <div class="container">
    <div id="frontPageCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
      <ol class="carousel-indicators">
        <li data-target="#frontPageCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#frontPageCarousel" data-slide-to="1"></li>
        <li data-target="#frontPageCarousel" data-slide-to="2"></li>
        <li data-target="#frontPageCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="image-wrap">
            
            <img class="center-block w-100" src="../../../assets/images/1.jpg"
              alt="First slide">
          </div>
        </div>
        <div class="carousel-item ">
          <div class="image-wrap">
            
            <img class="center-block w-100" src="../../../assets/images/2.jpg"
              alt="Second slide">
          </div>
        </div>
        <div class="carousel-item ">
          <div class="image-wrap">
            
            <img class="center-block w-100" src="../../../assets/images/3.jpg"
              alt="Third slide">
          </div>
        </div>
        <div class="carousel-item ">
          <div class="image-wrap">
            
            <img class="center-block w-100" src="../../../assets/images/4.jpg"
              alt="Third slide">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>