@import "bootstrap";

html{
  position: relative;
  min-height: 100%;
  overflow-y: scroll;
  
  
} 
body { 
  margin-bottom: 4rem;
  padding-right: 0 !important;
  font-family: Roboto, 
  "Helvetica Neue", sans-serif; 
  background-color: #3f2354;
  // background-image: url('../assets/images/background.jpg');   
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-position: center;
  // background-size: cover;
}
.compensate-for-scrollbar{
  margin-right: 0 !important;
}
