@import 'bootstrap';
.pr-new{

  .container{
    background: rgba(52, 58, 64, 0.6);
    border-radius: 10px;
  }
  &__header{
    background: rgba(52, 58, 64, 0.8);
    border-bottom: 2px solid #ba5df9;
    border-radius: 10px;
    padding: $grid-gutter-width / 3;
    padding-bottom: 0;
    color: $white;
    .fa-envira{
      color: #15f856;
    }
  }
  &__gallery{
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;

    .pr-col{
      width: 100%;
      
        @media only screen and (min-width: 502px) {  
          width: 50%;
        }

        @media only screen and (min-width: 768px ) {  
          width: 25%;
        }
    }
    &__item{ 
      position: relative;
      overflow: hidden;
        a{
          img {
            width: 100%;
            height: 15.625rem;
            object-fit: cover;
            object-position: 50% 50%;
            transition: all 0.5s ease-in-out;
        }

        @media only screen and (min-width: 31.375em) {
            // height: 25rem;
    
        }
        @media only screen and (min-width: 81.25em) {  // 1300px
            height: 28.125em;
        }
      }
      &-info{
        position: absolute;
        bottom: 0;
        height: 35px;
        width: 100%;
        z-index: 100;
        background-color: rgba(52, 58, 64, 0.6);
        .date-added{
          position: absolute;
          bottom: 0.4rem;
          right: 0.5rem;
          color: rgba(255, 255, 255, 0.7);
          z-index: 100;
        }
        a.owner{
          position: absolute;
          bottom: 0.3rem;
          left: 0.3rem;
          z-index: 100;
          height: unset;
          color: rgba(255, 255, 255);
          display: flex;
          justify-content: center;
          align-items: center;
  
          .owner-avatar{
            object-fit: cover;
            width: 30px;
            height: 30px;
            z-index: 100;
            border-radius: 15px;
            border: 2px solid #ba5df980;
          }
          &-name{
            text-decoration: underline;
            font-weight: 700;
          }
        }
      }
      &:hover{
        cursor: pointer;

        img.new-photo{
          transform: scale(1.1) ;
        }
        
      }
    }
  }
}