<div *ngIf="newPhotos" class="pr-new mt-5">
  <div class="container">
    <div class="w-100 d-flex justify-content-center">
      <app-spinner *ngIf="showSpinner" class="position-absolute mt-5 pt-5 "></app-spinner>
    </div>
    <div class="row pr-new__header">
      <div class="col py-3">
        <h2><i class="fab fa-envira"></i> NEWEST PHOTOS</h2>
      </div>
    </div>
    <div *ngIf="newPhotos" class="pr-new__gallery">
      <div class="pr-col" *ngFor="let photo of newPhotos | slice:0:20">
        <figure class="pr-new__gallery__item">
          <div class="pr-new__gallery__item-info">
            <a [routerLink]="['/profile', photo.username]" class="owner">
              <img src="{{photo.avatarUrl}}" alt="User Avatar" class="owner-avatar">
              <span class="owner-name ml-1">@{{photo.username}}</span>
            </a>
            <span timeago [date]="photo.timeCreated" [live]="live" class="date-added"></span>
          </div>
          <a href="{{photo.url}}" data-fancybox="images">
            <img (load)="hideSpinner()" src='{{photo.url}}' alt="New Photo" class="new-photo">
          </a>
        </figure>
      </div>
    </div>
  </div>
</div>