<div *ngIf="userData" class="pr-profile mt-5">
  <div class="container">
    <div class="w-100 d-flex justify-content-center">
      <app-spinner *ngIf="showSpinner" class="position-absolute mt-5 pt-5 "></app-spinner>
    </div>
    <div *ngIf="userData.avatarUrl" class="row pr-profile__header justify-content-center">
      <div class="col-xs-12 col-lg-4 text-center text-lg-right p-0 mt-3">
        <h2>{{ userData.fullName  }}</h2>
        <h5 *ngIf="userData.username" class="mr-3 mb-3 pr-profile--website">@{{ userData.username }}</h5>
        <button *ngIf="userData.username && isSameUser" type="button" class="btn btn-white mr-3 mb-3 edit"
          data-toggle="modal" data-target=".settings-modal">
          <i class="fas fa-user-cog"></i> Edit Profile
        </button>
        <div *ngIf="userData.username && !isSameUser && !isUserFollowing;else following_btn"
          class="btn btn-primary px-4 mr-4 mb-3 " (click)="followUser(userData.username)">
          Follow
          <i class="far fa-heart ml-2"></i>
        </div>
        <ng-template #following_btn>
          <div *ngIf="userData.username && !isSameUser && isUserFollowing"
            class="btn btn-light text-primary border-primary px-4 mr-4 mb-3 " (click)="unfollowUser(userData.username)">
            Unfollow
            <i class="fas fa-heart ml-2"></i>
          </div>
        </ng-template>
        <p class="pr-0 pr-lg-3 mb-3">{{ userData.location }} <span *ngIf="userData.age && userData.location"> | </span>
          <span *ngIf="userData.age">{{ userData.age }} years
            old</span></p>
        <a href="http://{{userData.website}}" class="pr-0">{{ userData.website }}</a>

        <!-- SETTINGS MODAL -->
        <div class="modal fade settings-modal" tabindex="-1" role="dialog" aria-labelledby="Account Settings"
          aria-hidden="true">
          <div class="modal-dialog modal-lg ">
            <div class="modal-content">
              <div class="modal-header py-2 px-5">
                <h3 class="mb-0">Edit your profile</h3>
                <button #closeModal type="button" class="close my-auto p-0" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" class="text-white">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="pr-profile__edit-form py-3">
                  <form #userSettingsForm="ngForm" (ngSubmit)="updateUserData(userSettingsForm)">
                    <div class="row">
                      <div class="col-12 col-md-6">
                        <div>
                          <h5 class="mb-1">Account details:</h5>
                        </div>
                        <div class="form-group mt-3">
                          <label for="fullName">Full Name</label>
                          <input ngModel="{{userData.fullName}}" name="fullName" #fullNameInput="ngModel" id="fullName"
                            type="text" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="email">Email address</label>
                          <input ngModel="{{userData.email}}" name="email" #emailInput="ngModel" id="email" type="email"
                            class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="age">Age</label>
                          <input ngModel="{{userData.age}}" name="age" #ageInput="ngModel" id="age" type="text"
                            class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="location">Location</label>
                          <input ngModel="{{userData.location}}" name="location" #locationInput="ngModel" id="location"
                            type="text" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="website">Website</label>
                          <input ngModel="{{userData.website}}" name="website" #websiteInput="ngModel" id="website"
                            type="text" class="form-control" placeholder="Enter your website">
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div>
                          <h5 class="mb-1">Social profiles:</h5>
                        </div>
                        <div class="form-group mt-3">
                          <label for="facebook">Facebook:</label>
                          <input ngModel="{{userData.socials.facebook}}" name="facebook" #facebook="ngModel"
                            id="facebook" type="text" class="form-control" *ngIf="userData.socials">
                        </div>
                        <div class="form-group">
                          <label for="instagram">Instagram:</label>
                          <input ngModel="{{userData.socials.instagram}}" name="instagram" #instagram="ngModel"
                            id="instagram" type="text" class="form-control" *ngIf="userData.socials">
                        </div>
                        <div class="form-group">
                          <label for="twitter">Twitter:</label>
                          <input ngModel="{{userData.socials.twitter}}" name="twitter" #twitter="ngModel" id="twitter"
                            type="text" class="form-control" *ngIf="userData.socials">
                        </div>
                        <div class="form-group">
                          <label for="youtube">YouTube:</label>
                          <input ngModel="{{userData.socials.youtube}}" name="youtube" #youtube="ngModel" id="youtube"
                            type="text" class="form-control" *ngIf="userData.socials">
                        </div>
                        <div class="form-group">
                          <label for="flickr">Flickr:</label>
                          <input ngModel="{{userData.socials.flickr}}" name="flickr" #flickr="ngModel" id="flickr"
                            type="text" class="form-control" *ngIf="userData.socials">
                        </div>
                      </div>
                      <div class="col-12 col-md-6 my-2">
                        <h5>Change profile photo:</h5>
                      </div>
                      <div class="col-12 col-md-6 d-flex justify-content-around">
                        <button type="button" class="btn btn-success" (click)="avatarUpload.click()">
                          <span >Upload Avatar</span>
                          <input type="file" name="avatarUpload" class="d-none" #avatarUpload accept=".png,.jpg"
                            (change)="uploadEvent($event)">
                        </button>
                        <input type="button" value="Reset Avatar" class="btn btn-warning" (click)="resetAvatar(userData.uid)">
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <label for="bio">Bio:</label>
                          <textarea ngModel="{{userData.bio}}" name="bio" #bio="ngModel" id="bio" type="text"
                            class="form-control" cols="30" rows="4">
                          </textarea>
                        </div>
                      </div>
                    </div>
                    <div class="text-center mt-2">
                      <button class="btn btn-primary px-3" (click)="closeModal.click()">Save changes</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-3 d-flex justify-content-center align-items-center mt-3 px-0">

        <img (load)="hideSpinner()" src="{{userData.avatarUrl}}" class="pr-profile__avatar text-center ">
      </div>
      <div class="col-xs-12 col-lg-4 text-center text-lg-left p-0 mt-3">
        <h4 class="py-2">
          Follow me:
        </h4>
        <div *ngIf="userData.socials" class="pr-profile__socials py-2">
          <div *ngFor="let media of userData.socials | keyvalue">
            <a href="{{media.value}}">
              <i class="fab fa-{{media.key}} pr-{{media.key}}"></i>
            </a>
          </div>
        </div>
        <div class="row my-3 text-center justify-content-center h6">
          <div class="col-4">
            <div>Followers:</div>
            <div *ngIf="userData.metrics">{{ userData.metrics.followers.length}}</div>
          </div>
          <div class="col-4">
            <div>Following:</div>
            <div *ngIf="userData.metrics">{{ userData.metrics.following.length}}</div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row">
        </div>
        <div class="row px-5 py-3">
          <div class="col text-center">
            <p class="text-center">{{ userData.bio }}</p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="userData.photos" class="pr-profile__gallery pb-3">
      <div class="pr-col" *ngFor="let photo of userData.photos">
        <div class="pr-profile__gallery__item">
          <span timeago [date]="photo.timeUploaded " [live]="live" class="date-added"></span>
          <span *ngIf="userData.username && isSameUser" (click)="deletePhoto(photo.path)" class="delete-photo"> <i
              class="far fa-trash-alt"></i> Remove</span>
          <a href="{{photo.url}}" data-fancybox="images">
            <img src='{{photo.url}}' alt="Photo" srcset="">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>