@import 'bootstrap';

.modal {
  overflow-y:auto;
}
.swal-yes-btn{
  background-color: #1067ca;
}
.swal-no-btn{

}
.pr-profile{
  color: $white;
  
  .container{
    background: rgba(52, 58, 64, 0.6);
    border-radius: 10px;
  }
  
  button.edit{
    background-color: $white;
  }
  &__header{
    background: rgba(52, 58, 64, 0.8);
    border-bottom: 2px solid #ba5df9;
    border-radius: 10px;
    padding: $grid-gutter-width / 3;
    padding-bottom: 0;
  }
  .modal-lg{
    max-width: 900px;
  }
  .modal-hedaer{
    align-items: center;
  }
  .modal-content{
    background-color: rgba(52, 58, 64, 0.9);
  }
  .modal-body{
    height: auto;
    overflow-y: auto;
  }
  .photo-modal{
    .modal-lg{
      max-width: 80vw;
    }
    img{
      max-width: 100%;
    }
  }
  &--website{

  }
  &__edit-form{
    width: 80%;
    background: rgba(52, 58, 64, 0.8);
    text-align: left;
    margin: 0 auto;

    input[type=file] {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
  }
  
  &__avatar{
    object-fit: cover;
    border-radius:100px;
    width: 200px;
    height: 200px;
    border: 5px solid #ba5df9;
  }
 

  &__socials{
    display: flex;
    justify-content: space-around;
    font-size: 2.5rem;
    border-bottom: 1px solid $white;
    a{
      color: rgba(255, 255, 255, 0.8);
    }
    .pr-facebook{
      transition: color 0.5s ease;
      &:hover{
        color:#1877f2;
      }
    }
    .pr-instagram{
      transition: color 0.5s ease;
      &:hover{
        color: #d6249e8c ;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        background-clip: text;
      }
    }
    .pr-twitter{
      transition: color 0.5s ease;
      &:hover{
        color:#1da1f2;
      }
    }
    .pr-youtube{
      transition: color 0.5s ease;
      &:hover{
        color:#ff0000;
      }
    }
    .pr-flickr{
      transition: color 0.5s ease-in-out;
      &:hover{
        color:#ff60a8c9;
        background: linear-gradient(240deg,rgb(255, 25, 129) 0%,rgb(23, 127, 255) 100%);
        background-clip: text;
      }
    }

  }
  &__gallery{
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;

    .pr-col{
      width: 100%;
      
        @media only screen and (min-width: 502px) {  
          width: 33.3333%;
        }

        @media only screen and (min-width: 768px ) {  
          width: 25%;
        }
    }
    &__item{ 
      position: relative;
      overflow: hidden;
        a{
          img {
            width: 100%;
            height: 15.625rem;
            object-fit: cover;
            object-position: 50% 50%;
            transition: all .2s ease-in-out;
        }

        @media only screen and (min-width: 31.375em) {
            // height: 25rem;
    
        }
        @media only screen and (min-width: 81.25em) {  // 1300px
            height: 28.125em;
        }
      }
      .delete-photo{
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        color: rgba(255, 255, 255);
        z-index: 100;
        background-color: #b11c1cd5;
        border-radius: 5px;
        padding: 2px 2.5px;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
      }
      .date-added{
        position: absolute;
        bottom: 0;
        left: 0.5rem;
        color: rgba(255, 255, 255, 0.466);
        z-index: 100;
      }
      &:hover{
        cursor: pointer;

        img{
          transform: scale(1.1) ;
        }
        // background-color: $dark;
      }
    }
  }
}
